Repository thousight/Express-JSforce-Playground: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, prettier --write

Added apollo graphql and jsforce
  package.json
  src/app.ts
  yarn.lock
Due: tslint, prettier --write

Updated version
  package.json
Due: prettier --write

Updated heroku api_key
  .travis.yml
Due: none

chore(strings): added strings singleton
  server.ts
  src/app.ts
  src/constants/strings/datetime.ts
  src/constants/strings/index.ts
  src/utils/logger/index.ts
Due: tslint, prettier --write

Removed docs [skip ci]
  docs/semantic-release-workflow.md
Due: prettier --write

chore(constants): added numbers constants
  server.ts
  src/app.ts
  src/constants/numbers/index.ts
  src/constants/numbers/serverStatus.ts
  src/constants/strings/index.ts
  src/utils/logger/index.ts
Due: tslint, prettier --write

Initialized apollo graphql setup
  package.json
  src/app.ts
  src/constants/numbers/serverStatus.ts
  src/graphql/Mutation.ts
  src/graphql/Query.ts
  src/graphql/Scalar/Date.ts
  src/graphql/ServerStatus/getServerStatus.ts
  src/graphql/ServerStatus/index.ts
  src/graphql/index.ts
  tslint.json
  yarn.lock
Due: tslint, prettier --write

Update .travis.yml
  .travis.yml
Due: none

chore(release): 1.0.0 [skip ci]
  package.json
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  package.json
Due: prettier --write

Path conditions:
  tslint: any of: *.ts
  prettier --write: any of: *.{ts,json,md}
